<h1>Editing bookmanage</h1>

<%= render "form", bookmanage: @bookmanage %>

<br>

<div>
  <%= link_to "Show this bookmanage", @bookmanage %> |
  <%= link_to "Back to bookmanages", bookmanages_path %>
</div>
